/* General Style */
* {
	box-sizing: border-box;
}
*:before, *:after {
	box-sizing: border-box;
}
html, body {
	position: relative;
}
body {
	background-color: #f5f5f5;
}
.space-l {
	height: 50px;
}
.main {
	min-height: 100vh;
	/* will cover the 100% of viewport */
	overflow: hidden;
	display: block;
	position: relative;
	padding-bottom: 100px; /* height of your footer */
	/* height of your footer */
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
a {
	text-decoration: none;
	color: blue;
}
.newstitle a {
	text-align: center;
	color: black;
}
.overflow-hidden {
	overflow: hidden;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}


/*
 * Header
 */

.site-header {
	background-color: rgba(0, 0, 0, .85);
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
	color: #999;
	transition: ease-in-out color .15s;
}
.site-header a:hover {
	color: #fff;
	text-decoration: none;
}
/* Navigation */

.container {
	max-width: 960px;
}
/* Pagination */

.blog-pagination {
	margin-bottom: 4rem;
}
.blog-pagination>.btn {
	border-radius: 2rem;
}
/* Blog posts */

.blog-post {
	margin-bottom: 4rem;
}
.blog-post-title {
	margin-bottom: .25rem;
	font-size: 2.5rem;
}
.blog-post-meta {
	margin-bottom: 1.25rem;
	color: #999;
}

/* Users */
.avatar {
  width: 50px;
  height: 50px;
}

/* Formulaires */

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/* Validation de Formulaires : */
.g-recaptcha {
	margin-bottom: 10px;
}
/* The message box is shown when the user clicks on the password field */

#feedback {
	display: none;
	color: #000;
	text-align: left;
	margin-top: 10px;
}
/* Add a green text color and a checkmark when the requirements are right */

.valid {
	color: green;
}
.valid-feedback:before {
	position: relative;
	left: -35px;
}
/* Add a red text color and an "x" icon when the requirements are wrong */

.invalid {
	color: red;
}
.invalid:before {
	position: relative;
	left: -35px;
}
.tooltip-inner {
	background-color: #fff;
	color: #000;
	border: 1px solid #CCCCCC;
}
/* Bootstrap */

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}
@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
/*
 * Responsive
  */

.flex-equal>* {
	-ms-flex: 1;
	flex: 1;
}
@media (min-width: 768px) {
	.flex-md-equal>* {
		-ms-flex: 1;
		flex: 1;
	}
}
